/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/
/* 1. Main Layout ================================= */
* {
  box-sizing: border-box; }

.jar {
  width: 150px;
  height: 200px;
  background: grey;
  position: absolute;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 20px; 
  border-bottom-right-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.lid {
  width: 185px;
  height: 50px;
  position: absolute;
  background: red;
  border-radius: 10px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
}

.dot1 {
  width: 20px;
  height: 20px;
  position: absolute;
  background: white;
  border-radius: 10px;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%); 
}

.dot2 {
  width: 20px;
  height: 20px;
  position: absolute;
  background: white;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.dot3 {
  width: 20px;
  height: 20px;
  position: absolute;
  background: white;
  border-radius: 10px;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%); 
}

.lid:hover {
  transform: translate(-50%, -150%);
  transition-timing-function: ease-in;
  transition-duration: 1s;
  transform: rotate(40deg);
}











